* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body {
  background-color: #f8f9fa;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.register-login {
  min-height: 100vh;
}
.register-login .padding-none {
    padding: 0; 
}
.register-login .wrapper{
    height: 100%; 
}
.register-login .container__image {
  
    background: -webkit-linear-gradient(top right, #242348, #5A55AA);
    background: -o-linear-gradient(top right, #242348, #5A55AA);
    background: linear-gradient(to bottom left, #2f687d, #0d3440);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    position: relative; 
}
.register-login .image--points {
  position: relative;
  width: 100%;
  height: 100%;
}

.register-login .image--points::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(1, 43, 101, 0.51), rgba(1, 43, 101, 0.4));
  z-index: 1; 
}

.register-login .image--points {
  background-image: linear-gradient(rgba(33, 59, 151, 0.308), rgba(11, 61, 119, 0.411)), url('../img/inicio de sesión/img-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; 
}

.container__image {
  position: relative;
  height: 100vh;

}
.image--points img {
  width: 271px; 
  height: auto;
  display: block;
  margin: 0 auto; 
  margin-top: 60px;
  position: relative; 
  z-index: 2; 
}

.image--points .centro  {
  width: 395px; 
  height: auto;
  display: block;
  margin-top: 60px; 
}

/* Estilo para los elementos del carrusel */
#carruselTexto .carousel-inner {
  text-align: center; 
  z-index: 2;
}

/* Estilo para el texto del carrusel */
#carruselTexto {
  width: 100%; 
  margin-top: 20px; 
  z-index: 2;
}
#carruselTexto h3 {
  font-size: 20px;
  color: #ffffff;
  text-align: left; 
  max-width: 55%; 
  margin: 0 auto;
}

#carruselTexto p {
  font-size: 16px;
  color: #ffffff;
  text-align: left; 
  max-width: 55%; 
  margin: 0 auto;
  margin-top: 30px;
}

/* Estilo para los controles del carrusel */
#carruselTexto .carousel-control-prev,
#carruselTexto .carousel-control-next {
  color: #012B65; 
  font-size: 5rem; 
  z-index: 3;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;

}

/* Estilo para el ícono de los controles del carrusel */
#carruselTexto .carousel-control-prev-icon,
#carruselTexto .carousel-control-next-icon {
  background-color: #012B65; 
  border-radius: 20%; 
}

/* Estilo para los indicadores del carrusel */
#carruselTexto .carousel-indicators {
  position:static;
  bottom: 10px; 
  left: 50%; 
  margin: 0 auto;
  z-index: 2; 
  margin-top: 30px;
}

/* Estilo para la posición activa del carrusel */
#carruselTexto .carousel-indicators .active {
  background-color: #ffffff; 
  z-index: 2;
}

#carruselTexto .carousel-indicators li {
  background-color: #CBD5E0; 
  border: 1px solid #555; 
  border-radius: 50%; 
  width: 12px; 
  height: 12px; 
  margin: 0 5px; 
  cursor: pointer;
  opacity: 0.6; 
  transition: opacity 0.6s ease;
}

#carruselTexto .carousel-indicators li.active {
  background-color: #ffffff; 
  opacity: 1; 
}

#carruselTexto .carousel-indicators li {
  color: transparent; 
}
/* Añade estos estilos al final de tu archivo style.css */

/* Estilos para el lado derecho del formulario de inicio de sesión */
.bg-form-container {
  background-color: #ffffff;
  padding: 40px;
  border-left: 1px solid #ccc;
  max-width: 100%;
  height: 100vh; /* Ajusta el alto para llenar la pantalla verticalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-inicio {
  color: #012B65;
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
}

.register-link, p {
  color: #718096;
  margin-top: 80px;
  font-size: 18px;
  margin-left: 0px; 
  margin-right: 20px; 
}

.marked-link {
  color: #012B65; 
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 270px; 
  margin-right: 0px; 
  max-width: 100%;
}

.form-group {
  margin-top: 20px; /* Ajusta el margen superior */
}

label {
  display: block;
  margin-bottom: 8px; 
  font-weight: bold;
  font-size: 18px; 
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 8px; 
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-35%);
  cursor: pointer;
  background-color: transparent;
  border: none; 
}

.form-check-label {
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 12px; 
  color: #718096;
  font-weight: 300;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: 8px; /* Reduce el margen superior */
}

.forgot-password {
  margin-left: auto;
  color: #012B65;
  text-decoration: none;
  margin-top: 12px; /* Ajusta el margen superior */
  font-weight: 400;
}

.login-button {
  background-color: #033F63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  align-self: center; /* Centra horizontalmente */
}

.btn-primary {
  margin-top: 20px;
  display: block;
  width: 265px;
  align-self: center; /* Centra horizontalmente */
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Estilos para las líneas horizontales */
.or-line,
.or-line-2 {
  flex-grow: 1;
  height: 1px;
  background-color: #ABAEB0;
  margin: 0 10px;
}

/* Estilos para el texto "or" */
.or-text {
  color: #012B65;
  font-size: 18px;
  padding: 0 10px;
  font-weight: 500;
}

.visit-site {
  text-align: center;
  margin-top: 12px; /* Ajusta el margen superior */
  color: #012B65;
  font-size: 16px; /* Ajusta el tamaño del texto */
}

.footer {
  text-align: center;
}

.footer-text,
.footer-text-ver,
p {
  margin-top: 20px; /* Ajusta el margen superior */
  color: #012B65;
  font-size: 16px; /* Ajusta el tamaño del texto */
}

/* Estilo para el enlace del pie de página */
.footer-link {
  color: #012B65;
  text-decoration: none;
  position: relative;
}

/* Pseudo-elemento para la línea debajo del enlace al hacer hover */
.footer-link:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #012B65;
  position: absolute;
  bottom: 0;
  left: 0;
}



@media screen and (min-width: 1400px) {
  .register-login .bg-image-container {
    width: 50%; 
   } 
}

@media screen and (max-width: 991px) {

  .container-form img {
    content: url('../img/logo/logo-blanco.png'); 

  }

  .form-group {
    margin-bottom: 0px; 
    margin-top: 10px; 
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 10px; 
  }

  #loginForm {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 90px;
  }
  .register-login {
    height: auto; 
   }     
   .register-login .container__image {
      min-height: 200px;
      height: 200px; 
   }
    .register-login .image--points {
      background-position: bottom; 
   }
   .register-login .register-login-p{
      color: #fff;
   }
    .register-login .form-center {
      margin-top: 0;
      height: auto;
      position: relative;
      top: -140px; 
   }
    .register-login .container-form {
      margin: 0;
      width: 70%; 
   }
    .register-login .container-form--register {
      margin: 0; 
   }
    .register-login .register-login-h1 {
      color: white; 
   }
    .register-login .register-login-p {
      text-align: center;
      font-size: 15px; 
   }
 .register-login .btn-login, .register-login .btn-signup, .register-login .btn-signup--register {
      width: 120px;
      line-height: 30px; 
   }
    .register-login .btn-signup {
      margin-left: 30px; 
   } 

   .col-lg.form-center {
    flex-direction: row;
    justify-content: flex-end; 
}

.container-form img {
  width: 300px; 
  margin: 0 auto; 
  display: block; 
}
.register-login-p, h1  {
  font-size: 16px !important;
  color: #ffffff !important;
  font-weight:bolder;
}

}

@media screen and (max-width: 480px) {
  .form-group {
    margin-bottom: 0px; 
    margin-top: 10px; 
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 10px; 
  }

  #loginForm {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 90px;
  }
  .register-login-p, h1  {
    font-size: 16px !important;
    color: #ffffff !important;
    font-weight:bolder;
  }
  .register-login .image--points {
    background-size: 200%;
    background-position: bottom; 
   }
  .register-login .container-form {
    width: 90%; 
   }
  .register-login .btn-signup {
    margin-left: auto; 
   } 
   .container-form img {
    width: 300px; 
    margin: 0 auto; 
    display: block; 
  }
}

@media screen and (max-width: 320px) {
  .register-login .form-center {
    top: -120px; 
  } 

  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group {
    margin-bottom: 0px; 
    margin-top: 10px; 
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 10px;
  }

  #loginForm {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .col-lg.form-center {
    flex-direction: row;
    justify-content: flex-end; 
  }

  .register-login-p, h1 {
    font-size: 14px !important;
    color: #ffffff;
    font-weight: bolder;
  }

  .container-form img {
    width: 180px; 
    margin: 0 auto;
    display: block; 
  }
}
.error-message {
  color: white;
  background-color: #2C5D70;
  border-radius: 0px;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

